@import
'01_utilities/_variables';

@import
'02_base/_normalize.scss',
'02_base/_reset.scss';

@import
'03_layout/_l-flex.scss',
'03_layout/_l-card',
'03_layout/_l-columns.scss',
'03_layout/_l-position.scss';

@import
'04_components/_c-card-service.scss',
'04_components/_c-card.scss',
'04_components/_c-link.scss',
'04_components/_c-text.scss',
'04_components/_c-title.scss',
"04_components/_c-promo.scss",
"04_components/_c-button.scss",
'04_components/c-button',
'04_components/c-img-lupa',
'04_components/c-img-menu',
'04_components/c-img-doctor',
'04_components/c-img-perfil',
'04_components/c-img-adeslas',
'04_components/c-nav';

@import
'06_global/_g-padding.scss',
'06_global/_g-margin.scss',
'06_global/_g--bg-color-blue.scss',
'06_global/_g--text-uppercase.scss',
'06_global/_g--title-color.scss',
"06_global/_g--bg-color.scss",
'06_global/_g-box-shadows.scss',
'06_global/_g--global-colors.scss';
