.c-card-service {
    display: grid;
    align-items: center;
    border: 1px var(--color-border-card);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 350px;
    margin: 10px;
    padding: 20px;

    &--backgoundColor-blue{
        background-color: var(--color-blue);
    }

    &--backgoundColor-blue{
        background-color: var(--color-blue);
    }

    &--backgroundColor-pink{
        background-color: var(--color-pink);
    }

    &__title{
        font-weight: bold;
        color: var(--color-text-title);
    }
    
    &__title--color-dark{
        color: var(--color-text-title);
    }
    
    &__body{
        color: var(--color-text-body)
    }
    
    &__body--color-dark{
        color: var(--color-text-body);
    }
    
    &__title--color-white{
        color: var(--color-light);
    }
    
    &__body--color-white{
        color: var(--color-light);
    }
    
    &__button{
        width: fit-content;
        font-weight: bold;
        padding: 15px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid;
    }
    
    &__button:hover{
        cursor: pointer;
    }
    
    &__button--backgroundColor-blue{
        background-color: var(--color-blue);
    }
    
    &__button--backgroundColor-white{
        background-color: var(--color-light);
    }
    
    &__button--color-white{
        color: var(--color-light);
    }
    
    &__button--color-blue{
        color: var(--color-blue);
    }
    
    &__button--color-blue:hover{
        background-color: var(--color-blue);
        color: var(--color-light);
        border-color: var(--color-light);
    }
    
    &__button--color-pink{
        color: var(--color-pink);
    }
    
    &__button--color-pink:hover{
        background-color: var(--color-pink);
        color: var(--color-light);
        border-color: var(--color-light);
    }
}