.c-nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d6d6d6;
    padding: 15px;    

    &__izquierda{
        text-align: left;
        margin-left: 40px;
    }

    &__medio{
        text-align: center;
        padding-left: 300px;
    }

    &__derecha{
        text-align: right;
        margin-right: 20px;
    }
}