:root {
    --color-pink: #c30080;
    --color-blue: #009ddd;
    --color-light: #ffffff;

  --color-azul: #009ddd;
  --color-blanco: #FFFFFF;
  --color-fucsia:#c30080;

    --color-text-body: #796e70;
    --color-text-title: #3d3d3d;
    --color-title-dark: #3d3d3d;

    --color-border-card: #778899;

    --color-text-dark: #666666;
    --color-blue-back: #bce0fd;
    --color-white: #FFFFFF;

  --color-text-darker: #333333;
  --color-text-light: #ffffff;

  --color-blue-1: #47c6f4;
  --color-blue-2: #007EAE;
  --color-dark-grey: #5a4b2b;


  --font-stack: 'Open Sans', sans-serif;
    --font-size-1: 18px;
    --font-size-2: 24px;
    --font-size-3: 30px;
}

