:root {
    --color-light: #FFFFFF;

    --color-text-dark: #666666;
    --color-text-darker: #333333;
    --color-text-light: #ffffff;

    --color-blue-1: #47c6f4;
    --color-blue-2: #007EAE;
    --color-dark-grey: #5a4b2b;
    
}