:root {
    --color-pink: #c30080;
    --color-blue: #009ddd;
    --color-light: #ffffff;

    --color-text-body: #796e70;
    --color-text-title: #3d3d3d;

    --color-border-card: #778899;

    --color-text-dark: #666666;
    --color-blue-back: #bce0fd;
    --color-white: #FFFFFF;

    --font-stack: 'Open Sans', sans-serif;

    --font-size-1: 18px;
    --font-size-2: 24px;
}