$utilities: (
        "opacity": (
                property: opacity,
                class: o,
                values: (
                        0: 0,
                        25: .25,
                        50: .5,
                        75: .75,
                        100: 1,
                )
        )
);

@each $keyUtilities, $utilitiesValor in $utilities{
  $property: map-get($utilitiesValor,"property");
  $class: map-get($utilitiesValor,"class");
  $values: map-get($utilitiesValor,"values");

  @each $keyValue, $valueValue in $values{
    .#{$class}-#{$keyValue}{
      #{$property}: $valueValue;
    }
  }
}

//$opacity: map-get($utilities,"opacity");
//$property: map-get($opacity,"property");
//$class: map-get($opacity,"class");
//$values: map-get($opacity,"values");
//
//@each $key, $value in $values{
//  .#{$class}-#{$key}{
//    #{$property}:$value
//  }
//}