.g-margin-0{
  margin:0;
}

.g-margin-auto{
  margin: auto;
}

.g-margin-top-auto{
  margin-top: auto;
}

.g-margin-botton-auto{
  margin-bottom: auto;
}

.g-margin-left-auto{
  margin-left: auto;
}

.g-margin-rigth-auto{
  margin-right: auto;
}

$margins:0px, 4px, 6x, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px;

$index:0;
@each $margin in $margins {
  .g--margin-#{$index}{
    margin: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-vertical-#{$index}{
    margin-top: $margin;
    margin-bottom: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-horizontal-#{$index}{
    margin-left: $margin;
    margin-right: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-left-#{$index}{
    margin-left: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-right-#{$index}{
    margin-right: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-top-#{$index}{
    margin-top: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-bottom-#{$index}{
    margin-bottom: $margin;
  }
  $index:$index+1;
}