:root{
    
    --color-title-dark: #3d3d3d;
    --color-text-dark: #666666;
    --color-blue-question: #bce0fd;
    --color-white: #FFFFFF;

    --font-stack: 'Open Sans', sans-serif;

    --font-size-1: 18px;
    --font-size-2: 24px;
    --font-size-3: 30px;
}